:root {
  --color-bg: rgb(235, 153, 153);
  --font-display: "Doto";
  --font-sans: "Roboto Condensed";
  --unit: 20px;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: black;
  height: 100%;
  width: 100%;
}


h1 {
  font-family: var(--font-display);
  font-size: calc(var(--unit) * 1.25);
  font-weight: 400;
  line-height: calc(var(--unit) * 1.25);
}
h1 .title {
  font-weight: 900;
}

p {
  font-family: var(--font-sans);
  font-size: calc(var(--unit) * 0.75);
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}
th,
td {
  border: 1px solid black;
  font-family: var(--font-sans);
  font-size: var(--unit);
  padding: calc(var(--unit) * 0.25);
  text-align: left;
}